.rating-container {
    display: flex;
}

.rating-container span {
    cursor: pointer;
    font-size: 24px;
    color: gray;
    transition: none;
}

.star {
    display: inline-block;
}

.rating-container .active {
    color: gold;
}